<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
    <session-factory>
     <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/online_electricity_system</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Pratiksha@25</property>
           <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
          <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>   <!-- Use 'update' to auto-create or modify tables -->

        <!-- Entity Mapping -->
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.CustomerRegistration"/>
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.ElectricityUsage"/>
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.PaymentHistory"/>
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.Bill"/>
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.AdminLogin"/>
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.Meter"/>
        <mapping class="electricity_24_7.com.OnlineElectricitySystem.entity.ChangePassword"/>
    </session-factory>
</hibernate-configuration>